body {
    font-family: 'poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: antiquewhite; 
    color:  #333333;
}

main{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}